* {
  width: auto;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  /* height: 100vh; */
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Inter", sans-serif;
}

.navegacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3%;
}

.navegacao__titulo {
  font-size: 20px;
  font-weight: normal;
}

.navegacao__itens {
  font-size: 20px;
  padding: 14px 24px;
  text-align: center;
  color: #000000;
}

.botao {
  background-color: #000000;
  color: #FFFFFF;
  padding: 14px 24px;
  text-align: center;
  border-radius: 8px;
}

.bloco_inicial__texto {
  max-width: 940px;
  margin: auto;
  overflow: auto;
}

.bloco_inicial__texto__titulo {
  font-size: 64px;
}

.bloco_inicial__texto__subtitulo {
  font-size: 24px;
}

.bloco_inicial {
  padding: 200px;
  text-align: center;
  background-color: #f1f1f1;
  background-image: url(/assets/img/fundosobre.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.inicio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5%;
  gap: 30px;
}

h2 {
  font-size: 24px;
}

.texto_quem_somos,
.conteudo_colaboradores__texto {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.imagens {
  display: flex;
  gap: 60px;
}

.imagens__img {
  width: 298px;
  height: 298px;
  border-radius: 15px;
}

.conteudo_colaboradores {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.colaboradores {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.colaboradores__itens {
  display: flex;
  flex-direction: column;
}