    <div class="bloco_inicial">
        <div class="bloco_inicial__texto">
            <h1 class="bloco_inicial__texto__titulo">Saúde em Dia</h1>
            <p class="bloco_inicial__texto__subtitulo">Sua Saúde em primeiro lugar!</p>
        </div>
    </div>

    <main class="inicio">
        <div class="texto_quem_somos">
            <h2>Quem somos</h2>
            <p>Nossa agência de publicidade e marketing, especializada na promoção
                da saúde e bem-estar, é um projeto inovador criado por jovens empreendedores comprometidos em fazer a
                diferença na vida das pessoas. Atuamos com a missão de disseminar informações valiosas e estratégias
                eficazes que contribuam para a melhoria da qualidade de vida da população. Por meio de campanhas
                criativas e envolventes, buscamos conscientizar a comunidade sobre a importância de um estilo de vida
                saudável, prevenindo doenças e promovendo hábitos que favoreçam o bem-estar físico e mental. Nosso
                objetivo é inspirar e educar, utilizando nossa expertise em marketing para alcançar um impacto positivo
                e duradouro.</p>
            <p>Como uma equipe dinâmica e apaixonada, estamos constantemente explorando novas formas de conectar as
                pessoas a conteúdos que realmente importam. Nossa abordagem não se limita apenas à publicidade
                convencional, mas abrange uma ampla gama de serviços, incluindo a criação de notícias e informações
                relevantes que ajudam a moldar um público mais informado e engajado. Acreditamos que, ao aliar
                criatividade e conhecimento, podemos não apenas promover produtos e serviços, mas também incentivar
                mudanças significativas no comportamento e na mentalidade das pessoas em relação à saúde. Estamos
                empenhados em transformar desafios em oportunidades, sempre com o objetivo de contribuir para um futuro
                mais saudável e equilibrado para todos.</p>
        </div>

        <div class="conteudo_colaboradores">
            <div class="conteudo_colaboradores__texto">
                <h2>A equipe de colaboradores</h2>
                <p>Nossa empresa não é formada por setores ou departamentos. Ela é feita
                    por times. E times são feitos por pessoas!</p>
            </div>

            <div class="colaboradores">
                <div class="colaboradores__itens">
                    <img class="imagens__img" src="./assets/img/andrew.png" alt="">
                    <p>Andrew Paes</p>
                    <p>CFO</p>
                </div>
                <div class="colaboradores__itens">
                    <img class="imagens__img" src="./assets/img/vinicius.png" alt="">
                    <p>Marcos Vinicius Carvalho</p>
                    <p>CTO</p>
                </div>
                <div class="colaboradores__itens">
                    <img class="imagens__img" src="./assets/img/kayanne.png" alt="">
                    <p>Kayanne Mello</p>
                    <p>CEO</p>
                </div>
                <div class="colaboradores__itens">
                    <img class="imagens__img" src="./assets/img/bernardo.png" alt="">
                    <p>Bernardo Bergamo Stange</p>
                    <p>COO</p>
                </div>
            </div>
        </div>
    </main>
