<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap" rel="stylesheet">
    <link href="about-us.component.scss" rel="stylesheet">
</head>
<body>  
    <div class="v171_64">
        <div class="v171_127">
            <div class="v171_133">
                <div class="v171_135 bordered">
                </div>
            </div>
        </div>
        <div class="v171_143"></div>
        <div class="v171_146">
            <span class="v171_144">Saúde em Dia</span>
            <span class="v171_145">Sua saúde em primeiro lugar</span>
        </div>
        <div class="v171_147">
            <span class="v171_148">Quem somos</span>
            <div class="v172_4">
                Nossa agência de publicidade e marketing, especializada na promoção da saúde e bem-estar, é um projeto inovador criado por jovens empreendedores comprometidos em fazer a diferença na vida das pessoas. Atuamos com a missão de disseminar informações valiosas e estratégias eficazes que contribuam para a melhoria da qualidade de vida da população. Por meio de campanhas criativas e envolventes, buscamos conscientizar a comunidade sobre a importância de um estilo de vida saudável, prevenindo doenças e promovendo hábitos que favoreçam o bem-estar físico e mental. Nosso objetivo é inspirar e educar, utilizando nossa expertise em marketing para alcançar um impacto positivo e duradouro.
            </div>
            <div class="v172_4">
                Como uma equipe dinâmica e apaixonada, estamos constantemente explorando novas formas de conectar as pessoas a conteúdos que realmente importam. Nossa abordagem não se limita apenas à publicidade convencional, mas abrange uma ampla gama de serviços, incluindo a criação de notícias e informações relevantes que ajudam a moldar um público mais informado e engajado. Acreditamos que, ao aliar criatividade e conhecimento, podemos não apenas promover produtos e serviços, mas também incentivar mudanças significativas no comportamento e na mentalidade das pessoas em relação à saúde. Estamos empenhados em transformar desafios em oportunidades, sempre com o objetivo de contribuir para um futuro mais saudável e equilibrado para todos.
            </div>

            <div class="v172_10">
                Nossa empresa não é formada por setores ou departamentos. Ela é feita por times. E times são feitos por pessoas!
            </div>

            
        </div>
        <div class="v172_9">
            <span class="v172_11">A equipe de colaboradores</span>
        </div>
        <div class="v172_16">
            <div class="v172_12">
                <img src="v172_12.png" alt="Andrew Paes">
                <span class="v172_17">Andrew Paes</span>
                <span class="v172_18">CFO</span>
            </div>
            <div class="v172_13">
                <img src="v172_13.png" alt="Marcos Vinicius Carvalho">
                <span class="v172_19">Marcos Vinicius Carvalho</span>
                <span class="v172_20">CTO</span>
            </div>
            <div class="v172_14">
                <img src="v172_14.png" alt="Kayanne Mello">
                <span class="v172_21">Kayanne Mello</span>
                <span class="v172_22">CEO</span>
            </div>
            <div class="v172_15">
                <img src="v172_15.png" alt="Bernardo Bergamo Stange">
                <span class="v172_23">Bernardo Bergamo Stange</span>
                <span class="v172_24">COO</span>
            </div>
        </div>
    </div>
</body>
</html>