@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3%;
}

.navegacao__titulo {
    font-size: 20px;
    font-weight: normal;
}

.navegacao__itens {
    font-size: 20px;
    padding: 14px 24px;
    text-align: center;
    color: #000000;
}

.botao {
    background-color: #000000;
    color: #FFFFFF;
    padding: 14px 24px;
    text-align: center;
    border-radius: 8px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

footer {
    background-color: #454545;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .navegacao {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .navegacao__titulo {
        margin-bottom: 10px;
    }

    .botao, .navegacao__itens {
        font-size: 16px;
        padding: 10px 20px;
    }
}
