@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Inter", sans-serif;
}


.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3%;
}

.navegacao__titulo {
    font-size: 20px;
    font-weight: normal;
}

.navegacao__itens {
    font-size: 20px;
    padding: 14px 24px;
    text-align: center;
    color: #000000;
}


.inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
}

.barra_pesquisa {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.barra_pesquisa__titulo {
    font-size: 64px;
}

.barra_pesquisa__pesquisa {
    width: 80%;
    max-width: 626px;
    border-radius: 8px;
    color: #828282;
    padding: 8px 16px;
    border: 1px solid #E0E0E0;
}


.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.conteudo__artigo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    width: 100%;
    max-width: 1280px;
}

.conteudo__artigo__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    max-width: 516px;
}

.conteudo__artigo__texto__titulo {
    font-size: 40px;
    width: 100%;
}

.conteudo__artigo__texto__paragrafo {
    font-size: 24px;
    color: #828282;
    width: 100%;
}

.conteudo__artigo__img {
    width: 100%;
    max-width: 624px;
    height: auto;
    border-radius: 8px;
    margin: 0 20px; 
}


.botao {
    background-color: #000000;
    color: #FFFFFF;
    padding: 14px 24px;
    text-align: center;
    border-radius: 8px;
}


footer {
    background-color: #454545;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 100px;
}


@media (max-width: 768px) {
    .navegacao {
        flex-direction: column;
        align-items: center;
    }

    .navegacao__titulo {
        margin-bottom: 10px;
    }

    .conteudo__artigo {
        flex-direction: column;
        align-items: center;
    }

    .conteudo__artigo__texto {
        text-align: center;
    }

    .conteudo__artigo__texto__titulo,
    .conteudo__artigo__texto__paragrafo {
        width: 100%;
    }

    .conteudo__artigo__img {
        margin: 20px 0; 
    }
}
