<header class="navegacao">
  <h1 class=""><img class="" src="./assets/img/saudeemdialogo.png"></h1>
  <div>
    <a class="{{this.router.url.includes('/home') ?  'botao' : 'navegacao__itens'}}" [routerLink]="['/home']">Home</a>
    <a class="{{this.router.url.includes('/noticias') ?  'botao' : 'navegacao__itens'}}" [routerLink]="['/noticias']">Notícias</a>
    <a class="{{this.router.url.includes('/inscricao') ?  'botao' : 'navegacao__itens'}}" [routerLink]="['/inscricao']">Inscreva-se</a>
  </div>
</header>

<main class="inicio">
  <router-outlet></router-outlet>
</main>
<footer>
  &copy; 2024 Saúde em Dia. Todos os direitos reservados.
</footer>
